
:host {
  // height: 100px;
  flex-basis: 168px;
  background: #E7E7E7;
}

.side-nav-menu {
  display: flex;
  flex-flow: column;

  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0px;
    padding: 0px;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.1);
    .title {
      display: flex;
      // justify-content: space-between;
      padding-left: 10px;
      span {
        color: rgb(53, 87, 166);
        font-size: 14px;
        font-weight: 700;
      }
      img {
        height: 18px;
        margin-right: 8px;
      }

    }
    &>.mat-icon {
      font-size: 18px;
      font-weight: 600;
      height: 19px;
      width: 34px;
      color: rgb(53, 87, 166);
    }
  }

  .menu-item-wrap {
    margin: 0px;
    .menu-item {
      a{
        display: block;
        height: 36px;
        vertical-align: center;
        line-height: 36px;
        font-size: 14px;
        padding-left: 30px;

        color: gray;
      }
      a.active {
        color: blue;
      }
    }
  }

}
