<div *ngFor='let menu of leftMenus$ | async'  class="side-nav-menu">

  <button class="menu-header">
    <div class="title">
        <img src="../../../assets/images/icon-0-hover.png" alt="" srcset="">
        <span>{{menu.menuName}}</span>
    </div>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>

  <ul class="menu-item-wrap">
      <li *ngFor='let item of menu.childs' class="menu-item">
        <a [routerLink]="item.menuLink.replace('#','/')" routerLinkActive="active" class="" href=""  >{{item.menuName}}</a>
      </li>
  </ul>
</div>

<!-- <div class="side-nav-menu">

  <button class="menu-header">
    <div class="title">
        <img src="../../../assets/images/icon-0-hover.png" alt="" srcset="">
        <span>点位管理</span>
    </div>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>

  <ul class="menu-item-wrap">
      <li class="menu-item">
        <a routerLink="/device-manage/spot-manage" class="" href=""  > 点位管理 </a>
      </li>
  </ul>
</div> -->




