<!-- <perfect-scrollbar style="width: 100%; max-height: calc( 100vh - 64px );" [config]=""> -->


  <mat-grid-list cols = "2"  #grid rowHeight="440px" gutterSize="24px">
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <div echarts [options]="chartOption1" class="demo-chart"></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <div echarts [options]="chartOption2" class="demo-chart"></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <div echarts [options]="chartOption2" class="demo-chart"></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <div echarts [options]="chartOption2" class="demo-chart"></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

<!-- </perfect-scrollbar> -->
