
:host {
  background: #1d5ab5;
  display: flex;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;

  .logo {
    width: 50px;
    height: 50px;
    background: url(../../../assets/images/logo.png) center no-repeat;
  }
  .title {
    width: 348px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 26px;
    font-weight: 700;
    color: white;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
  }
}

ul.nav-container {
  display: flex;
  // min-width: 344px;
  margin: 0px;
  &>li {
    flex: 1;
    a {
      display: block;
      height: 31px;
      width: 106px;
      padding-top: 49px;
      text-align: center;
      color: white;
      &.active {
        background-color: rgba(0, 0, 0, 0.1) !important;
      };
      &:hover {
        background-color: rgba(0, 0, 0, 0.1) !important;
      }
    }
  }
}


.nth-nav1 {
  background: url(../../../assets/images/icon-camera.png) 40px 19px no-repeat;
}

.nth-nav2 {
  background: url(../../../assets/images/icon-run.png) 40px 19px no-repeat;
}
.nth-nav3 {
  background: url(../../../assets/images/icon-bad.png) 40px 19px no-repeat;
}

.nth-nav4 {
  background: url(../../../assets/images/icon-maintain.png) 40px 19px no-repeat;
}

.nth-nav5 {
  background: url(../../../assets/images/icon-count.png) 40px 19px no-repeat;
}

.block-holder {
  flex: 1;
}

.nav-actions {
  display: flex;
  align-items: center;
  margin: 0px;
  width: 142px;
  .user-name {
    width: 100px;
    color: white;
  }
  .user-action {
    width: 80px;
    color: white;
  }
}

